.navbar {
  position: fixed;
  box-sizing: border-box;
  padding: 20px 0;
  align-items: center !important;
  justify-content: space-between;
  .logo {
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 30px;
      font-family: "Nunito", sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: $main-color;
      white-space: nowrap;
      transition: 0.3s;
      img {
        max-height: 40px;
        margin-right: 6px;
      }
      span {
        font-size: 23px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #012970;
        font-family: "Nunito", sans-serif;
        margin-top: 3px;
      }
    }
  }

  .hamburger-menu {
    font-size: 25px;
    display: none;
  }
}

.list {
  ul {
    display: flex;
    margin-bottom: 0px;
    align-items: baseline;
    li {
      list-style: none;
      padding-left: 40px;
      a {
        text-decoration: none;
      }
      .gs-logo {
        background: #4154f1;
        padding: 8px 20px;
        margin-left: 30px;
        border-radius: 4px;
        color: #fff;
      }
    }
  }
}
